@font-face {
  font-family: "4ThAndInches";
  src: url("../assets/fonts/4ThAndInches.woff2") format("woff2");
}

@font-face {
  font-family: "AlfaSlabOne";
  src: url("../assets/fonts/AlfaSlabOne.woff2") format("woff2");
}

@font-face {
  font-family: "Machton";
  src: url("../assets/fonts/Machton.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-VariableFont.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter.woff2") format("woff2");
}

@font-face {
  font-family: "SuperchargeHalftone";
  src: url("../assets/fonts/SuperchargeHalftone.woff2") format("woff2");
}
