/* global template styles */

html {
  user-select: none;
  font-size: calc(100% * var(--body-font-scale));

  &.no-transition *:not(.swiper:not(.selection-list) *) {
    transition: none !important;
  }

  &.no-scroll {
    overflow: hidden;
  }
}

body {
  background: var(--body);
  color: var(--text);
  font-family: var(--body-font);
  font-size: 0.875rem;
  line-height: 20px;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &_container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
  }

  &.fluid {
    display: block;

    .app_container {
      margin: 0;
    }
  }

  .layout {
    display: flex;
    flex-direction: column;
    gap: 20px;

    --body-font: "Inter";
    --heading-font: "Inter";

    @media (max-width: 768px) {
      padding: 0 16px;
      gap: 16px;
    }
  }

  @media screen and (min-width: 1920px) {
    display: grid;
    grid-template-columns: minmax(0, 250px) minmax(0, (calc(100% - 250px)));

    .app_container {
      grid-area: 1 / 2 / 2 / 3;
    }
  }
}

.lazy-image {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;

  img {
    height: 100%;
  }
}

input,
input::placeholder {
  color: var(--text);
}

.glow-sm {
  text-shadow: 0 0 2px var(--text-glow), 0 0 4px var(--text-glow);
}

.glow {
  text-shadow: 0 0 5px #f5c451, 0 0 10px #f5c451, 0 0 15px #f5c451,
    0 0 20px #f5c451, 0 0 25px #f5c451;
}

.dashboard-wrapper {
  --body-font: "Inter", sans-serif;
  --heading-font: "Inter", sans-serif;
}

video.control-forbidden::-webkit-media-controls {
  display: none;
}
