.search {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 13px;
  height: 36px;
  padding: 8px 12px;
  background-color: var(--widget);
  border-radius: 8px;

  &.light {
    input {
      color: var(--text);
    }
  }

  &.dark {
    input {
      color: #fff;
    }
  }

  input {
    min-width: 540px;
    width: 100%;

    @media (max-width: 1200px) {
      min-width: 360px;
    }

    @media (max-width: 960px) {
      min-width: 280px;
    }
  }

  label {
    font-size: 1rem;
    line-height: 1;
    color: var(--highlight);
  }
}

.control {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  color: var(--text);
  position: relative;

  i {
    color: var(--highlight);
    font-size: 16px;
  }

  &.ltr .control_indicator {
    left: 10px;
  }

  &.rtl .control_indicator {
    right: 10px;
  }

  &_indicator {
    position: absolute;
    background: var(--highlight-invert);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 10px;
  }
}

.avatar {
  position: relative;

  img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }

  &_cart {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    background: var(--highlight);
    border-radius: 50%;
    font-size: 10px;
    color: var(--header-invert);
  }
}

.navbar {
  padding: 15px 25px;
  background: var(--widget);
  border-bottom: 1px solid var(--border);
}

.title {
  margin: 16px;
}

.tablet {
  margin-bottom: 0;

  .title {
    margin: 0;
  }

  @media (min-width: 1280px) {
    margin-bottom: 30px;
  }
}
