.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
        padding-bottom: 8px;
        border-bottom: 1px solid var(--border);
    }
}